<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Language Training
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <Body>
        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
              <span class="date">The Language of</span>
              <h2>Gestures</h2>
              <p>You can make them feel normal...</p>
            </div>
            <div class="card-stats">
              <div class="stat">
                <div class="type">
                  <a href="{{ url_for('train_view') }}">Train</a>
                </div>
              </div>
              <div class="stat border">
                <div class="type">
                  <a href="{{ url_for('index_view') }}">Home</a>
                </div>
              </div>
              <div class="stat">
                <div class="type">
                  <a href="{{ url_for('test_view') }}">Test</a>
                </div>
              </div>
            </div>
          </div>
          
    </Body>
</html>