<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign Language Training
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <Body>
        <div class="card-train">
            <div class="card-input"><h1 class="input-text"><strong>A</strong></h1></div>
            <div class="card-video">
                <video class="videobox canvasbox" autoplay="autoplay" id="myvideo" style="display: none;"></video>
                <canvas id="canvas" class="border canvasbox"></canvas>
            </div>
            <div class="card-text">
              <span class="date">your answer is: </span>
              <h2 class="answer">Correct!</h2>
            </div>
            <div class="card-progress">
              <ol class="tunnel">
                <li></li>
                <li></li>
                <li class="is-current"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ol>
            </div>
            
            <div class="card-stats">
              <div class="stat">
                <div class="type">
                  <a href="{{ url_for('train_view') }}">Train</a>
                </div>
              </div>
              <div class="stat border">
                <div class="type">
                  <a href="{{ url_for('index_view') }}">Home</a>
                </div>
              </div>
              <div class="stat">
                <div class="type">
                  <a href="{{ url_for('test_view') }}">Test</a>
                </div>
              </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"> </script>
          <!-- Place your code in the script tag below. You can also use an external .js file -->
        <script>

            const video = document.getElementById("myvideo");
            const canvas = document.getElementById("canvas");
            const context = canvas.getContext('2d');
            
            const modelParams = {
                flipHorizontal: true,   // flip e.g for video  
                maxNumBoxes: 20,        // maximum number of boxes to detect
                iouThreshold: 0.5,      // ioU threshold for non-max suppression
                scoreThreshold: 0.6,    // confidence threshold for predictions.
            }
            
            handTrack.load(modelParams).then(lmodel => {
                // detect objects in the image.
                model = lmodel
            });

            handTrack.startVideo(video).then(function (status) {
              console.log("video started", status);
              if (status) {
                runDetection();
              }
              else {
                console.log("video not started");
              }
            });
            makeRequest = true;
            function runDetection() {
                model.detect(video).then(predictions => {
                    if(predictions.length==1){
                      let screenshot_context = canvas.getContext('2d');
                      // draw the video contents into the canvas x, y, width, height
                      screenshot_context.drawImage(video, 0, 0, canvas.width, canvas.height);
                      console.log("Try");
                      if(makeRequest){

                        let ctx = canvas.getContext('2d');
                        ctx.drawImage(video, predictions[0]['bbox'][0], predictions[0]['bbox'][1], predictions[0]['bbox'][2] + 15 , predictions[0]['bbox'][3] + 15, 0, 0, canvas.width, canvas.height)
                        const dataURL = canvas.toDataURL('image/png');
                        console.log("Reuqets Made");
                        console.log(dataURL);
                        //ajax code for rest api

                        //*********************
                        this.makeRequest = false;
                        setTimeout(() => {
                          this.makeRequest = true;
                        }, 4000);

                    }
                  }
                    model.renderPredictions(predictions, canvas, context, video);

                    requestAnimationFrame(runDetection);
                });
            }


        </script>
    </Body>
</html>